body{
	background-color: #fdf0d9;
}
.color1{
	background-color: #fdf0d9;
}
.color2{
	background-color: #f9ddae;
}
.color3{
	background-color: #f9ddae;
}
li {
	display: inline;
	
	outline: none;

	font-family: Arial;
	font-size:11px;
	text-decoration: none;
	float:left;
	padding: 10px;
	background-color: #f2ba5f;
	color: #fff;
}
#lista{
	background-color: #f2ba5f;
	height: 34px;
}
table a{
	text-decoration: none;
	color: #000;
}
#menu{
	background-color: #eda87d;
	height: 80px;
}
ul{
	width: 1110px;
	display: inline;
}
table{
	position: relative;
	top: 25px;
	left: 300px;
}
p{
	position: relative;
	top: 25px;
	left: 300px;
}
.textoBuscar{
	position: relative;
	top: 25px;
	left: 550px;
}
h1{
	position: relative;
	top: 22px;
	left: 470px;
	color: #fff;
}
th{
	width: 150px;
	color: #000;
}
.pulsarBorrar{
	width: 60px;
	color: #000;
}
.pulsarModificar{
	width: 80px;
	color: #000;
}
.campoId{
	width: 80px;
	color: #000;
}
.botones{
	position: relative;
	top: 25px;
	left: 190px;
}
a{
	text-decoration: none;
}
.formulario{
	left: 60px;
	position: relative;
}